<div class="client-list">
  <h2 [ngClass]="{'bold-text': negrito}">Lista de Clientes</h2>
  <button class="btn btn-primary" (click)="exibirClientesMaiores60()">Exibir Clientes Maiores de 60 anos</button>
  <p *ngIf="!seniorExist">{{ noSeniorsMessage }}</p>
  <div *ngIf="seniorExist">
    <ul>
      <li *ngFor="let client of clients" class="client-item">
        {{ client.nome }} {{ client.sobrenome }} - {{ client.idade }} anos
      </li>
    </ul>
  </div>
  <a routerLink="/cadastrar">Cadastrar novo cliente</a>
  <br>
  <a routerLink="/">Voltar para a página inicial</a>
</div>
