<section class="contact">
  <div class="container">
      <h1>Cadastro</h1>
      <br>
      <section>
        <p>Preencha o formulário abaixo para Cadastrar:</p>
        <form id="client-form" action="#" method="post">

          <label for="nome">Nome:</label>
          <input type="text" id="nome" #nomeInput required>

          <label for="sobrenome">Sobrenome:</label>
          <input type="text" id="sobrenome" #sobrenomeInput required>

          <label for="cpf">CPF:</label>
          <input type="text" id="cpf" #cpfInput required>

          <label for="idade">Idade:</label>
          <input type="number" id="idade" #idadeInput required>
          <br><br>

          <label for="endereco">Endereço:</label>
          <input type="text" id="endereco" #enderecoInput required>
          <button (click)="cadastrarUsuario(nomeInput.value, sobrenomeInput.value, cpfInput.value, idadeInput.value, enderecoInput.value)">Cadastrar</button>
        </form>
    </section>
  </div>
</section>