<div class="client-form">
  <h2>Cadastrar Novo Cliente</h2>
  <form (ngSubmit)="cadastrarCliente()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="newClient.nome" required>
      <p>Você está cadastrando o cliente: {{ newClient.nome }}</p>
    </div>
    <div class="form-group">
      <label for="sobrenome">Sobrenome:</label>
      <input type="text" class="form-control" id="sobrenome" name="sobrenome" [(ngModel)]="newClient.sobrenome" required>
    </div>
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="newClient.cpf" required>
    </div>
    <div class="form-group">
      <label for="idade">Idade:</label>
      <input type="number" class="form-control" id="idade" name="idade" [(ngModel)]="newClient.idade" required>
    </div>
    <div class="form-group">
      <label for="endereco">Endereço:</label>
      <input type="text" class="form-control" id="endereco" name="endereco" [(ngModel)]="newClient.endereco" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  <a routerLink="/clientes">Voltar para a lista de clientes</a>
</div>
